<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.socioty.smartik">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/smartikTheme"
        tools:replace="android:icon">

        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LoginActivity"/>
        <activity android:name=".LedSmartLightActivity">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>

        <activity
            android:name=".IntroActivity"
            android:theme="@style/Theme.Intro" />
        <activity android:name=".ControlPanelActivity"/>
        <activity android:name=".NestThermostatActivity">
        </activity>

        <service
            android:name=".FirehoseWebSocketListenerService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>